
                                    /* Bordered form */

                                    body {
                                        padding-top: 30px;
                                        background: url("../img/splatterBack.jpg");
                                        background-size: cover;
                                    }
                                    /* Full-width inputs */
                                    input[type=text], input[type=password] {
                                        width: 100%;
                                        padding: 12px 20px;
                                        margin: 8px 0;
                                        display: inline-block;
                                        border: 1px solid #ccc;
                                        box-sizing: border-box;
                                    }

                                    /* Set a style for all buttons */
                                    button {
                                        background-color: #860509;
                                        color: white;
                                        padding: 14px 20px;
                                        margin: 13px;
                                        border: none;
                                        cursor: pointer;
                                        width: 100%;
                                        font-family: 'VT323', monospace;
                                    }

                                    .btn.raised {
                                        box-shadow: 3px 3px 3px 3px #3D0305;


                                    }

                                    .btn.raised:hover, .btn.raised.hover {
                                        color: white;
                                    }



                                    .btn.raised:active, .btn.raised.active{
                                        box-shadow: none;

                                    }

                                    #app {
                                        background-color: #860509;

                                    }
                                    .fa-android {
                                        color: #48d32c; 
                                    }
                                    /* Extra style for the cancel button (red) */
                                    .cancelbtn {
                                        width: auto;
                                        padding: 10px 18px;
                                        background-color: #f44336;
                                    }

                                    /* Center the avatar image inside this container */
                                    .imgcontainer {
                                        text-align: center;
                                        margin: 24px 0 12px 0;
                                    }

                                    .panel {
                                        background-color: white;
                                        opacity: 0.75;
                                        color: #860509;
                                        font-family: 'VT323', monospace;
                                        font-size: 28px;
                                    }
                                    .foot {
                                        font-family: 'VT323', monospace;
                                        font-size: 14px;
                                    }

                                    /* Avatar image */
                                    img.avatar {
                                        width: 40%;
                                        border-radius: 50%;
                                    }

                                    /* Add padding to containers */
                                    .container {
                                        padding: 16px;
                                    }

                                    /* The "Forgot password" text */
                                    span.psw {
                                        float: right;
                                        padding-top: 16px;
                                    }

                                    <!-- /* Change styles for span and cancel button on extra small screens */
                                    @media screen and (max-width: 300px) {
                                        span.psw {
                                            display: block;
                                            float: none;
                                        }
                                        .cancelbtn {
                                            width: 100%;
                                        } -->

                                    }

/*form {
	width:500px;
	margin:50px auto;
	text-align: center;
}
.search {
	padding:8px 15px;
	background:rgba(50, 50, 50, 0.2);
	border:0px solid #48D32C;
}

form button.btn :hover {
	color: green;
}

body {
	padding-top: 30px;
	background-color:#200a11;
}*/
